.elementor-1024 .elementor-element.elementor-element-3a83125 > .elementor-container {
    max-width: 1590px
}

.elementor-1024 .elementor-element.elementor-element-3a83125 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-1024 .elementor-element.elementor-element-3a83125 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 20px 30px
}

.elementor-1024 .elementor-element.elementor-element-3a83125 > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-1024 .elementor-element.elementor-element-4748261.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-1024 .elementor-element.elementor-element-4748261.elementor-column.elementor-element[data-element_type=column] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-1024 .elementor-element.elementor-element-989e0fc {
    text-align: left;
    width: auto;
    max-width: auto;
    z-index: 1
}

.elementor-1024 .elementor-element.elementor-element-989e0fc .elementor-image img, .elementor-1024 .elementor-element.elementor-element-989e0fc .elementor-image > a img[src$=".svg"], .elementor-1024 .elementor-element.elementor-element-989e0fc .elementor-image > img[src$=".svg"], .elementor-1024 .elementor-element.elementor-element-989e0fc .elementor-image figure > a img[src$=".svg"] {
    width: 175px
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu {
    text-align: right;
    padding: 0 15px
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--main, #nav-popup-29a8afe .elementor-nav-menu--popup, #nav-popup-29a8afe .elementor-nav-menu--popup > ul > li > a {
    font-family: barlow, Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--main .elementor-item:not(:hover):not(.elementor-item-active) {
    color: #fff
}

#nav-popup-29a8afe .elementor-nav-menu--popup .elementor-item:not(:hover):not(.elementor-item-active) {
    color: #fff
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--main .elementor-item {
    padding-left: 0;
    padding-right: 0
}

#nav-popup-29a8afe .elementor-nav-menu--popup .elementor-item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 16px
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--main:not(.e--pointer-underline) .elementor-item {
    padding-top: 16px;
    padding-bottom: 16px
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--main.e--pointer-underline .elementor-item {
    padding-top: 16px;
    padding-bottom: 16px
}

body:not(.rtl) .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
    margin-right: 20px
}

body.rtl .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
    margin-left: 20px
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
    margin-bottom: 20px
}

#nav-popup-29a8afe .elementor-nav-menu--popup .elementor-nav-menu > li:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--dropdown {
    text-align: left
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--dropdown:not(.mega-menu) a:not(:hover):not(.elementor-item-active), .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-menu-toggle:not(:hover) {
    color: #fff
}

#nav-popup-29a8afe .elementor-nav-menu--dropdown:not(.mega-menu) a:not(:hover):not(.elementor-item-active) {
    color: #fff
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--dropdown:not(.mega-menu), #nav-popup-29a8afe .elementor-nav-menu--dropdown {
    background-color: #000;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--dropdown:not(.mega-menu) .has-submenu {
    color: #238FD1;
    background-color: #000
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--dropdown:not(.mega-menu) a:hover, .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--dropdown:not(.mega-menu) a.highlighted {
    color: #238FD1;
    background-color: #000
}

#nav-popup-29a8afe .elementor-nav-menu--dropdown a:hover, #nav-popup-29a8afe .elementor-nav-menu--dropdown a.highlighted {
    color: #238FD1;
    background-color: #000
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--layout-horizontal.elementor-nav-menu--main .elementor-nav-menu a.elementor-sub-item.elementor-item-active {
    color: #238FD1;
    background-color: #000
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--dropdown:not(.mega-menu) a:before {
    background-color: #238FD1
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--dropdown:not(.mega-menu) a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px
}

#nav-popup-29a8afe .elementor-nav-menu--dropdown:not(.mega-menu) a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--dropdown:not(.mega-menu) {
    padding: 20px 0
}

#nav-popup-29a8afe .sub-menu.elementor-nav-menu--dropdown {
    padding: 20px 0
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-menu-toggle:not(:hover) i {
    color: #fff
}

.elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-menu-toggle:hover i {
    color: #fff
}

.elementor-1024 .elementor-element.elementor-element-29a8afe {
    width: auto;
    max-width: auto
}

.elementor-1024 .elementor-element.elementor-element-bb32ac1 i {
    font-size: 24px;
    margin: 0 10px 0 0
}

.elementor-1024 .elementor-element.elementor-element-bb32ac1:not(:hover) i {
    color: #238FD1
}

.elementor-1024 .elementor-element.elementor-element-bb32ac1 .elementor-phone-title {
    font-family: gainlove, Sans-serif
}

.elementor-1024 .elementor-element.elementor-element-bb32ac1:not(:hover) .elementor-phone-title {
    color: #fff
}

.elementor-1024 .elementor-element.elementor-element-bb32ac1 .elementor-phone-subtitle {
    font-family: gainlove, Sans-serif;
    font-size: 22px;
    font-weight: 600
}

.elementor-1024 .elementor-element.elementor-element-bb32ac1:not(:hover) .elementor-phone-subtitle {
    color: #fff
}

.elementor-1024 .elementor-element.elementor-element-bb32ac1 > .elementor-widget-container {
    margin: 0 10px 0 0
}

.elementor-1024 .elementor-element.elementor-element-bb32ac1 {
    width: auto;
    max-width: auto
}

.elementor-1024 .elementor-element.elementor-element-d379848 .site-header-account > a {
    color: #fff;
    font-size: 16px
}

.elementor-1024 .elementor-element.elementor-element-d379848 .site-header-account > a:hover {
    color: #e74a30 !important
}

.elementor-1024 .elementor-element.elementor-element-d379848 .site-header-account > a span {
    font-size: 26px;
    margin-right: 0
}

.elementor-1024 .elementor-element.elementor-element-d379848 > .elementor-widget-container {
    margin: 0 10px 0 0
}

.elementor-1024 .elementor-element.elementor-element-d379848 {
    width: auto;
    max-width: auto
}

.elementor-1024 .elementor-element.elementor-element-ed13170 .elementor-search-form__toggle i {
    font-size: 30px;
    width: 30px;
    height: 30px
}

.elementor-1024 .elementor-element.elementor-element-ed13170 .elementor-search-form__input, .elementor-1024 .elementor-element.elementor-element-ed13170 .elementor-search-form__icon, .elementor-1024 .elementor-element.elementor-element-ed13170 .elementor-lightbox .dialog-lightbox-close-button, .elementor-1024 .elementor-element.elementor-element-ed13170 .elementor-lightbox .dialog-lightbox-close-button:hover, .elementor-1024 .elementor-element.elementor-element-ed13170.elementor-search-form--skin-full_screen input[type=search].elementor-search-form__input {
    color: #fff
}

.elementor-1024 .elementor-element.elementor-element-ed13170 .elementor-search-form__toggle {
    color: #fff;
    border-color: #fff
}

.elementor-1024 .elementor-element.elementor-element-ed13170 .elementor-search-form__toggle:hover {
    color: #e74a30;
    border-color: #e74a30
}

.elementor-1024 .elementor-element.elementor-element-ed13170 > .elementor-widget-container {
    margin: 0 10px 0 0
}

.elementor-1024 .elementor-element.elementor-element-ed13170 {
    width: auto;
    max-width: auto
}

.elementor-1024 .elementor-element.elementor-element-29a08a2 .elementor-button .elementor-button-icon i {
    font-size: 14px
}

.elementor-1024 .elementor-element.elementor-element-29a08a2 .elementor-button .elementor-align-icon-right {
    margin-left: 8px
}

.elementor-1024 .elementor-element.elementor-element-29a08a2 .elementor-button .elementor-align-icon-left {
    margin-right: 8px
}

.elementor-1024 .elementor-element.elementor-element-29a08a2 {
    width: auto;
    max-width: auto
}

@media (max-width: 1024px) {
    .elementor-1024 .elementor-element.elementor-element-3a83125 {
        padding: 30px
    }

    .elementor-1024 .elementor-element.elementor-element-989e0fc {
        text-align: left
    }

    .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu {
        margin: 0
    }

    .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--main .elementor-item {
        padding-left: 0;
        padding-right: 0
    }

    #nav-popup-29a8afe .elementor-nav-menu--popup .elementor-item {
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
        padding-bottom: 30px
    }

    .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--main:not(.e--pointer-underline) .elementor-item {
        padding-top: 30px;
        padding-bottom: 30px
    }

    .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--main.e--pointer-underline .elementor-item {
        padding-top: 30px;
        padding-bottom: 30px
    }

    body:not(.rtl) .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
        margin-right: 45px
    }

    body.rtl .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
        margin-left: 45px
    }

    .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
        margin-bottom: 45px
    }

    #nav-popup-29a8afe .elementor-nav-menu--popup .elementor-nav-menu > li:not(:last-child) {
        margin-bottom: 45px;
        padding-bottom: 45px
    }

    .elementor-1024 .elementor-element.elementor-element-29a8afe .elementor-menu-toggle .eicon {
        font-size: 24px
    }

    .elementor-1024 .elementor-element.elementor-element-d379848 > .elementor-widget-container {
        margin: 0
    }
}

@media (max-width: 767px) {
    .elementor-1024 .elementor-element.elementor-element-3a83125 {
        padding: 30px 15px
    }

    .elementor-1024 .elementor-element.elementor-element-989e0fc {
        text-align: left
    }

    .elementor-1024 .elementor-element.elementor-element-d379848 > .elementor-widget-container {
        margin: 0 0 20px
    }
}