.elementor-1059 .elementor-element.elementor-element-27949a2:not(.elementor-motion-effects-element-type-background), .elementor-1059 .elementor-element.elementor-element-27949a2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #2a261f
}

.elementor-1059 .elementor-element.elementor-element-27949a2 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 110px 15px 97px
}

.elementor-1059 .elementor-element.elementor-element-27949a2 > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-1059 .elementor-element.elementor-element-a97759d {
    text-align: left
}

.elementor-1059 .elementor-element.elementor-element-a97759d .elementor-image img, .elementor-1059 .elementor-element.elementor-element-a97759d .elementor-image > a img[src$=".svg"], .elementor-1059 .elementor-element.elementor-element-a97759d .elementor-image > img[src$=".svg"], .elementor-1059 .elementor-element.elementor-element-a97759d .elementor-image figure > a img[src$=".svg"] {
    width: 174px
}

.elementor-1059 .elementor-element.elementor-element-6122a39 > .elementor-element-populated {
    margin: 0 30px 0 0;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px
}

.elementor-1059 .elementor-element.elementor-element-4277337.elementor-widget-heading .elementor-heading-title {
    color: #fff
}

.elementor-1059 .elementor-element.elementor-element-4277337 > .elementor-widget-container {
    margin: 0 0 10px
}

.elementor-1059 .elementor-element.elementor-element-f380243 i {
    font-size: 24px;
    margin: 0 10px 0 0
}

.elementor-1059 .elementor-element.elementor-element-f380243:not(:hover) i {
    color: #238FD1
}

.elementor-1059 .elementor-element.elementor-element-f380243 .elementor-phone-title {
    font-size: 30px
}

.elementor-1059 .elementor-element.elementor-element-f380243:not(:hover) .elementor-phone-title {
    color: #238FD1
}

.elementor-1059 .elementor-element.elementor-element-f380243 .elementor-phone-subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 1em
}

.elementor-1059 .elementor-element.elementor-element-f380243:not(:hover) .elementor-phone-subtitle {
    color: #238FD1
}

.elementor-1059 .elementor-element.elementor-element-f380243 > .elementor-widget-container {
    margin: 0 0 25px
}

.elementor-1059 .elementor-element.elementor-element-f380243 {
    width: auto;
}

.elementor-1059 .elementor-element.elementor-element-dd9ed8e {
    color: #aaa;
    font-size: 15px;
    line-height: 1.5em
}

.elementor-1059 .elementor-element.elementor-element-dd9ed8e > .elementor-widget-container {
    margin: 0 0 10px
}

.elementor-1059 .elementor-element.elementor-element-552086f {
    color: #aaa;
    line-height: 1.5em;
    width: auto;
}

.elementor-1059 .elementor-element.elementor-element-552086f > .elementor-widget-container {
    padding: 0 0 5px;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: rgba(255, 255, 255, .2)
}

.elementor-1059 .elementor-element.elementor-element-af8f5cd > .elementor-element-populated {
    margin: 0 60px 0 0;
    --e-column-margin-right: 60px;
    --e-column-margin-left: 0px
}

.elementor-1059 .elementor-element.elementor-element-1c36145.elementor-widget-heading .elementor-heading-title {
    color: #fff
}

.elementor-1059 .elementor-element.elementor-element-1c36145 > .elementor-widget-container {
    margin: 0 0 10px
}

.elementor-1059 .elementor-element.elementor-element-c8182cf {
    color: #aaa;
    font-size: 15px;
    line-height: 1.5em
}

.elementor-1059 .elementor-element.elementor-element-c8182cf > .elementor-widget-container {
    margin: 0 0 15px
}

.elementor-1059 .elementor-element.elementor-element-acea1c6 .mc4wp-form-fields {
    flex-direction: column;
    width: 100%;
    align-items: stretch
}

.elementor-1059 .elementor-element.elementor-element-acea1c6 .mc4wp-form {
    justify-content: center
}

.elementor-1059 .elementor-element.elementor-element-a10511a.elementor-widget-heading .elementor-heading-title {
    color: #fff
}

.elementor-1059 .elementor-element.elementor-element-1c9f2d1 .elementor-nav-menu {
    text-align: left
}

.elementor-1059 .elementor-element.elementor-element-1c9f2d1 .elementor-nav-menu--main, #nav-popup-1c9f2d1 .elementor-nav-menu--popup, #nav-popup-1c9f2d1 .elementor-nav-menu--popup > ul > li > a {
    font-family: barlow, Sans-serif;
    font-size: 16px
}

.elementor-1059 .elementor-element.elementor-element-1c9f2d1 .elementor-nav-menu--main .elementor-item:not(:hover):not(.elementor-item-active) {
    color: #aaa
}

#nav-popup-1c9f2d1 .elementor-nav-menu--popup .elementor-item:not(:hover):not(.elementor-item-active) {
    color: #aaa
}

.elementor-1059 .elementor-element.elementor-element-1c9f2d1 .elementor-nav-menu--main .elementor-item {
    padding-left: 0;
    padding-right: 0
}

#nav-popup-1c9f2d1 .elementor-nav-menu--popup .elementor-item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px
}

.elementor-1059 .elementor-element.elementor-element-1c9f2d1 .elementor-nav-menu--main:not(.e--pointer-underline) .elementor-item {
    padding-top: 8px;
    padding-bottom: 8px
}

.elementor-1059 .elementor-element.elementor-element-1c9f2d1 .elementor-nav-menu--main.e--pointer-underline .elementor-item {
    padding-top: 8px;
    padding-bottom: 8px
}

.elementor-1059 .elementor-element.elementor-element-1c9f2d1 .elementor-nav-menu--dropdown {
    text-align: left
}

.elementor-1059 .elementor-element.elementor-element-c376f9e.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-start
}

.elementor-1059 .elementor-element.elementor-element-f424d3f.elementor-widget-heading .elementor-heading-title {
    color: #fff
}

.elementor-1059 .elementor-element.elementor-element-a7e6640 {
    text-align: left
}

.elementor-1059 .elementor-element.elementor-element-a7e6640 .elementor-social-icon:not(:hover) {
    background-color: transparent
}

.elementor-1059 .elementor-element.elementor-element-a7e6640 .elementor-social-icon:not(:hover) i {
    color: #fff
}

.elementor-1059 .elementor-element.elementor-element-a7e6640 .elementor-social-icon {
    font-size: 16px;
    padding: .1em
}

.elementor-1059 .elementor-element.elementor-element-a7e6640 .elementor-social-icon:not(:last-child) {
    margin-right: 0
}

.elementor-1059 .elementor-element.elementor-element-a7e6640 > .elementor-widget-container {
    margin: 0
}

.elementor-1059 .elementor-element.elementor-element-234a86e > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-1059 .elementor-element.elementor-element-234a86e:not(.elementor-motion-effects-element-type-background), .elementor-1059 .elementor-element.elementor-element-234a86e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #24211b
}

.elementor-1059 .elementor-element.elementor-element-234a86e {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 45px 30px
}

.elementor-1059 .elementor-element.elementor-element-234a86e > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-1059 .elementor-element.elementor-element-19e1c0d > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-1059 .elementor-element.elementor-element-1246045 .elementor-text-editor {
    text-align: left
}

.elementor-1059 .elementor-element.elementor-element-1246045 {
    font-size: 16px;
    width: auto;
    max-width: auto
}

.elementor-1059 .elementor-element.elementor-element-6ecceec.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-1059 .elementor-element.elementor-element-6ecceec > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-1059 .elementor-element.elementor-element-5e51a65 .elementor-text-editor {
    text-align: right
}

.elementor-1059 .elementor-element.elementor-element-5e51a65 {
    font-size: 16px;
    width: auto;
    max-width: auto
}

@media (max-width: 1024px) {
    .elementor-1059 .elementor-element.elementor-element-a97759d > .elementor-widget-container {
        margin: 0 0 30px
    }

    .elementor-1059 .elementor-element.elementor-element-6122a39 > .elementor-element-populated {
        margin: 0 0 30px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-1059 .elementor-element.elementor-element-af8f5cd > .elementor-element-populated {
        margin: 0 0 30px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-1059 .elementor-element.elementor-element-c376f9e > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-1059 .elementor-element.elementor-element-c376f9e > .elementor-element-populated > .elementor-widget-wrap {
        padding: 0
    }

    .elementor-1059 .elementor-element.elementor-element-234a86e {
        padding: 30px
    }
}

@media (min-width: 768px) {
    .elementor-1059 .elementor-element.elementor-element-a44f22d {
        width: 17.3%
    }

    .elementor-1059 .elementor-element.elementor-element-6122a39 {
        width: 22.7%
    }

    .elementor-1059 .elementor-element.elementor-element-af8f5cd {
        width: 28.1%
    }

    .elementor-1059 .elementor-element.elementor-element-04d733c {
        width: 15%
    }

    .elementor-1059 .elementor-element.elementor-element-c376f9e {
        width: 16.57%
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-1059 .elementor-element.elementor-element-a44f22d {
        width: 100%
    }

    .elementor-1059 .elementor-element.elementor-element-6122a39 {
        width: 50%
    }

    .elementor-1059 .elementor-element.elementor-element-af8f5cd {
        width: 50%
    }

    .elementor-1059 .elementor-element.elementor-element-04d733c {
        width: 50%
    }

    .elementor-1059 .elementor-element.elementor-element-c376f9e {
        width: 50%
    }
}

@media (max-width: 767px) {
    .elementor-1059 .elementor-element.elementor-element-a97759d {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-6122a39.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
        justify-content: center
    }

    .elementor-1059 .elementor-element.elementor-element-6122a39 > .elementor-element-populated {
        margin: 0 0 60px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-1059 .elementor-element.elementor-element-4277337 {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-dd9ed8e .elementor-text-editor {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-552086f .elementor-text-editor {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-af8f5cd.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
        justify-content: center
    }

    .elementor-1059 .elementor-element.elementor-element-af8f5cd > .elementor-element-populated {
        margin: 0 0 60px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-1059 .elementor-element.elementor-element-1c36145 {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-c8182cf .elementor-text-editor {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-a10511a {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-1c9f2d1 .elementor-nav-menu {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-1c9f2d1 > .elementor-widget-container {
        margin: 0 0 40px
    }

    .elementor-1059 .elementor-element.elementor-element-f424d3f {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-a7e6640 {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-234a86e {
        padding: 40px 15px
    }

    .elementor-1059 .elementor-element.elementor-element-19e1c0d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
        justify-content: center
    }

    .elementor-1059 .elementor-element.elementor-element-1246045 .elementor-text-editor {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-1246045 > .elementor-widget-container {
        margin: 0 0 15px
    }

    .elementor-1059 .elementor-element.elementor-element-6ecceec.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
        justify-content: center
    }

    .elementor-1059 .elementor-element.elementor-element-5e51a65 .elementor-text-editor {
        text-align: center
    }

    .elementor-1059 .elementor-element.elementor-element-5e51a65 > .elementor-widget-container {
        margin: 0 0 10px
    }
}